div.dataTables_wrapper{
  table.datatable.dataTable{
    padding-top: 1rem;
    thead{
      th{
        text-align: left;
        padding: 10px 18px 10px 8px;
        filter: grayscale(1);
        border-bottom: 1px solid $gray-300;
      }
    }
    tbody{
      tr{
        background: $gray-100;

      }
    }
  }
  .dataTables_paginate {
    .paginate_button{
      border: 1px solid $gray-200;
      border-radius: 8px;
      padding: 0.5rem;
      &:hover:not(.current):not(.disabled){
        color: $dark !important;
        background: $gray-200;
        border: 1px solid $gray-200;
      }
      &.current {
        background: $primary;
        border: 1px solid transparent;
        color: $light !important;
        &:hover{
          background: $primary;
          border: 1px solid transparent;
          color: $light !important;
        }
      }
    }
  }
}


.table_container {
  background-color: var(--light-grey, #F2F2F2);
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0);
  -webkit-overflow-scrolling: touch;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: auto;
}

.dt_table {
  width: 80vw;
  min-width: 100%;
  border: 0;
  white-space: nowrap;
  border-collapse: collapse;
  table-layout: fixed;
}

.dt_header {
  box-sizing: border-box;
}
.dt_header .dt_header-cell {
  font-weight: 600;
}

.dt_content {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
}

.dt_row {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0,0,0,.12);
}

.dt_header-cell {
  font-family: Roboto, sans-serif;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 32px;
  padding-left: 16px;
  height: 52px;
  color: rgba(0,0,0,.87);
}

.dt_header-cell--numeric {
  text-align: right;
}

.dt_header-cell--center {
  text-align: center;
}

.dt_row {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0,0,0,.12);
}

.table{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background: $primary;
  border-radius: 13px;
  color: $light;
  z-index: 5;
  box-shadow: 0px 0px 13px 0px $primary;
  &__search{
    flex: 1;
    &__input{
      display: inline-flex;
      align-items: center;
      border-bottom: 1px solid $gray-200;
      &__icon{
        width: 24px;
        height: 24px;
      }
      &__input{
        background-color: transparent;
        border: none;
        width: 320px;
        outline: none;
        color: $light;
        font-size: 18px;
        &::placeholder{
          color: $light;
          opacity: 0.4;
          font-size: 14px;
          font-family: "Roboto", sans-serif;
        }
      }
    }
  }
  &__menu{
    &__list{
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      &__item{
        display: flex;
        align-items: center;
        &--notifications{
          &__button{
            background: transparent;
            border: none;
            width: 25px;
            height: 25px;
            padding: 0;
            cursor: pointer;
            &__icon{
              width: 25px;
              height: 25px;
            }
          }
        }
        &--separator{
          position: relative;
          margin: 0 20px;
          &:after{
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 1px;
            height: 24px;
            background: $light;
            transform: translateY(-50%);
          }
        }
        &--profile{
          &__name{
            font-size: 18px;
            margin-right: 20px;
          }
          &__picture{
            margin: 0;
            img{
              border-radius: 50%;
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
  }
}