.d-none{
  display: none;
}

.flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}

.btn.btn-icon-small{
  padding: 0 .3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}