/** @format */

html, body {
	overflow: hidden;
	@extend .h-max;
}

.btn.btn-icon-small {
	padding: 0 0.3rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.pp-btn {
	&  > .pp-menu, &  ~ .pp-menu {
		opacity: 0;
		visibility: hidden;
		right: auto;
		@extend .transition;
	}
	
	&:hover  > .pp-menu,
	&:hover  ~ .pp-menu {
		opacity: 1;
		visibility: visible;
	}
}

.transition {
	transition: all .2s ease-in-out;
}

.btn.btn-icon-small.show {
	opacity: 1;
}

/* 1 - LAYOUT (position + display + flex + alignment */
$values: absolute, fixed, relative, static, sticky;

@each $value in $values {
	.#{$value} {
		position: $value;
	}
}

// Display
.d-block, .active {
	display: block;
}

.d-none, .hidden {
	display: none;
}

.flex {
	display: flex;
}

// Flex
.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.flex-reverse {
	flex-wrap: wrap-reverse;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

// Alignment
.text-center {
	text-align: center;
}

.align-center {
	align-items: center;
}

// Coordinates (top, right, bottom, left)
$value: 0;
$values: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, auto;

@each $value in $values {
	.xy-#{$value} {
		@extend .x-#{$value}, .y-#{$value};
	}

	.x-#{$value} {
		@extend .r-#{$value}, .l-#{$value};
	}

	.y-#{$value} {
		@extend .t-#{$value}, .b-#{$value};
	}

	.t-#{$value} {
		top: change-unit($value, 1rem);
	}

	.r-#{$value} {
		right: change-unit($value, 1rem);
	}

	.b-#{$value} {
		bottom: change-unit($value, 1rem);
	}

	.l-#{$value} {
		left: change-unit($value, 1rem);
	}
}

/* 2 - DIMENSIONS (width + height) */
$values: 0, 10, 20, 25, 30, 40, 50, 60, 70, 75, 80, 90, 100, auto;

@each $value in $values {
	.h-#{$value} {
		height: change-unit($value, 1%);
	}

	.min-h-#{$value} {
		min-height: change-unit($value, 1%);
	}

	.max-h-#{$value} {
		max-height: change-unit($value, 1%);
	}

	.w-#{$value} {
		width: change-unit($value, 1%);
	}

	.min-w-#{$value} {
		min-width: change-unit($value, 1%);
	}

	.max-h-#{$value} {
		max-width: change-unit($value, 1%);
	}

	// Increment the value
	$value: $value + 10;
}

.h-full {
	height: 100vh;
}

.w-full {
	width: 100vw;
}

.h-max {
	height: max-content;
}

.w-max {
	width: max-content;
}

/* 3 - SPACING (padding + margin) */
$values: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, auto;

@each $value in $values {
	// Padding
	.p-#{$value} {
		padding: change-unit($value, 1rem);
	}

	.px-#{$value} {
		@extend .pr-#{$value}, .pl-#{$value};
	}

	.py-#{$value} {
		@extend .pt-#{$value}, .pb-#{$value};
	}

	.pt-#{$value} {
		padding-top: change-unit($value, 1rem);
	}

	.pr-#{$value} {
		padding-right: change-unit($value, 1rem);
	}

	.pb-#{$value} {
		padding-bottom: change-unit($value, 1rem);
	}

	.pl-#{$value} {
		padding-left: change-unit($value, 1rem);
	}

	// Margin
	.m-#{$value} {
		margin: change-unit($value, 1rem);
	}

	.mx-#{$value} {
		@extend .mr-#{$value}, .ml-#{$value};
	}

	.my-#{$value} {
		@extend .mt-#{$value}, .mb-#{$value};
	}

	.mt-#{$value} {
		margin-top: change-unit($value, 1rem);
	}

	.mr-#{$value} {
		margin-right: change-unit($value, 1rem);
	}

	.mb-#{$value} {
		margin-bottom: change-unit($value, 1rem);
	}

	.ml-#{$value} {
		margin-left: change-unit($value, 1rem);
	}
}

/* 4 - BORDER */
$value: 0;
$maxValue: 50;

@while $value <= $maxValue {
	// Border
	@each $name, $color in $colors {
		.b-#{$value}-#{$name} {
			border: $value * 1px solid $color;
		}

		.bx-#{$value}-#{$name} {
			@extend .br-#{$value}-#{$name}, .bl-#{$value}-#{$name};
		}

		.by-#{$value}-#{$name} {
			@extend .bt-#{$value}-#{$name}, .bb-#{$value}-#{$name};
		}

		.bt-#{$value}-#{$name} {
			border-top: $value * 1px solid $color;
		}

		.br-#{$value}-#{$name} {
			border-right: $value * 1px solid $color;
		}

		.bb-#{$value}-#{$name} {
			border-bottom: $value * 1px solid $color;
		}

		.bl-#{$value}-#{$name} {
			border-left: $value * 1px solid $color;
		}
	}

	// Border radius
	.brd-#{$value} {
		border-radius: $value * 1px;
	}

	.brdt-#{$value} {
		@extend .brd-tl-#{$value}, .brd-tr-#{$value};
	}

	.brdr-#{$value} {
		@extend .brd-tr-#{$value}, .brd-br-#{$value};
	}

	.brdb-#{$value} {
		@extend .brd-br-#{$value}, .brd-bl-#{$value};
	}

	.brdl-#{$value} {
		@extend .brd-bl-#{$value}, .brd-tl-#{$value};
	}

	.brd-tl-#{$value} {
		border-top-left-radius: $value * 1px;
	}

	.brd-tr-#{$value} {
		border-top-right-radius: $value * 1px;
	}

	.brd-br-#{$value} {
		border-bottom-right-radius: $value * 1px;
	}

	.brd-bl-#{$value} {
		border-bottom-left-radius: $value * 1px;
	}

	// Increment the value
	$value: $value + 1;
}

/* 5 - OTHERS */
.list-none {
	list-style: none;

}

.box-shadow {
	box-shadow: 2px 2px 6px -2px $gray-600;
}

.rtl {
	direction: rtl;
}

.ov-h {
	overflow: hidden;
}

.ov-v {
	overflow: visible;
}

.scroll {
	@extend .x-scroll, .y-scroll;
}

.x-scroll {
	overflow-x: scroll;
}

.y-scroll {
	overflow-y: scroll;
}

.x-scroll-auto {
	overflow-x: auto;
}

.y-scroll-auto {
	overflow-y: auto;
}

.resize {
	@extend .x-resize, .y-resize;
}

.x-resize {
	resize: horizontal;
}

.y-resize {
	resize: horizontal;
}

.btn-font {
	font: 400 13.3333px Arial;
}