$blue: #001F8C;
$light-blue: #097289;
$green: #4EA526;
$red: #C61A1A;
$white: #FFFFFF;
$black: #000000;
$gray-100: #F3F6F6;
$gray-200: #F2F2F2;
$gray-300: #bbbaba;

$primary: $blue;
$success: $green;
$danger: $red;
$light: $gray-100;
$dark: #313131;
$info: $light-blue;
$theme-color: #844c24;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

html{
  --theme-color: #{$theme-color};
}

body {
  color: $dark;
  font-family: 'Noto Serif KR', serif;
  font-size: 16px;
  //font-family: 'Signika', sans-serif;
}

.header {
  position: relative;
  padding: 1rem 0;
  box-shadow: 0px -6px 9px $dark;
  z-index: 10;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > * {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;

    &__logo {
      margin-right: 1rem;
      width: 3rem;
      height: 3rem;
      @media (max-width: $lg) {
        margin-right: 0.6rem;
        width: 2.5rem;
        height: 2.5rem;
      }

      &__img {
        max-width: 100%;
      }
    }

    &__name {
      font-weight: 800;
      font-size: 2rem;
      color: $dark;
      text-decoration: none;
      @media (max-width: $lg) {
        font-size: 1.3rem;
      }
    }
  }

  &__menu__burger {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    @media (max-width: $md) {
      display: flex;
    }

    #burger-icon-opened {
      display: none;
    }

    &--opened {
      #burger-icon {
        display: none;
      }

      #burger-icon-opened {
        display: inline-block;
      }
    }
  }

  &__menu {
    margin-right: 3rem;
    @media (max-width: $lg) {
      margin-right: 0.7rem;
    }

    &__nav {
      display: inline-block;
      $ctx: &;
      @media (max-width: $md) {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(100%);
        background: $gray-200;
        padding: 2rem;
        z-index: 10;
        text-align: center;
        #{$ctx}__list {
          display: block;
          text-align: center;
          &__item{
            margin-right: 0;
          }
        }
      }

      &__list {
        display: inline-flex;
        padding: 0;
        margin: 0;
        list-style: none;

        &__item {
          margin-right: 2rem;
          @media (max-width: $lg) {
            margin-right: 1rem;
          }

          &:last-child {
            margin-right: 0;
          }

          &__link {
            color: $dark;
            text-decoration: none;
            font-weight: 600;
            font-size: 1.4rem;
            @media (max-width: $lg) {
              font-size: 1rem;
            }

            &:hover {
              text-decoration: underline;
              color: var(--theme-color);
            }
          }
        }
      }
    }
  }

  &__cart {
    position: relative;
    &__button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      line-height: 1;
      width: 2rem;
      height: 2rem;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        svg {
          fill: var(--theme-color);
        }
      }

      svg {
        fill: $dark;
      }
    }
    &__cart{
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translateY(100%);
      background: $white;
      border: 1px solid $gray-200;
      width: 300px;
      padding: 0.5rem;
      box-shadow: 0px 3px 8px 0px #0000004d;
      &--hidden{
        display: none;
      }
      &__title{
        display: block;
        font-weight: 600;
        margin-bottom: 0.6rem;
        font-size: 1.3rem;
      }
      &__list{
        padding: 0;
        list-style: none;
        margin: 0 0 0.5rem;
        &__item{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 0.4rem;
          &__quantity{
            font-weight: 600;
            margin-right: 0.5rem;
          }
          &__name{
            flex-grow: 1;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          &__price{
            font-weight: 600;
            margin-left: .3rem;
          }
          &__remove{
            text-align: right;
            min-width: 2rem;
            &__button{
              border: none;
              background: none;
              padding: 0;
              color: $danger;
              cursor: pointer;
            }
          }
        }
      }
      &__total{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
      }
      &__form{
        &__button{
          width: 100%;
          background: $dark;
          color: $light;
          border: none;
          padding: .4rem .5rem;
          cursor: pointer;
        }
      }
    }
  }

  &__profile {
    position: relative;
    &__login {
      color: $dark;
    }

    &__button {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border: 2px inset transparent;
      cursor: pointer;

      &:hover {
        border: 2px solid var(--theme-color);
      }

      &__picture {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    &__menu{
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translateY(100%);
      background: $white;
      border: 1px solid $gray-200;
      box-shadow: 0px 3px 8px 0px #0000004d;
      width: 150px;
      &--hidden{
        display: none;
      }
      &__list{
        margin: 0;
        padding: 0;
        list-style: none;
        &__item{
          &__link{
            display: block;
            color: $dark;
            text-decoration: none;
            padding: 0.3rem 0.5rem;
            &:hover{
              background: $gray-200;
            }
            &--danger{
              color: $danger;
            }
          }
        }
      }
    }
  }
}

.footer {
  background: var(--theme-color);
  color: $gray-200;
  padding: 3rem 0;
  margin-top: 5rem;
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
      margin-bottom: 0.5rem;

      &__link {
        color: $gray-200;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.h2 {
  display: inline-block;
  font-size: 1.5rem;
  position: relative;
  padding-bottom: 2px;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 33%;
    height: 1px;
    background: var(--theme-color);
  }
}

.banner {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  &--app{
    height: 200px;
    filter: grayscale(1);
  }
  &__img {
    min-width: 100%;
  }
}

.featured {
  &__card {
    width: 100%;
    margin-bottom: 2rem;

    &__picture {
      height: 200px;
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      &__img {
        height: auto;
        min-width: 100%;
      }
    }

    &__title {
      margin: 0.5rem 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--theme-color);
      padding-bottom: 1rem;

      &__cart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;

        &:hover {
          svg {
            fill: var(--theme-color);
          }
        }

        svg {
          fill: $dark;
        }
      }
    }
  }
}


.app{
  &__sidemenu{
    &__list{
      padding: 0;
      margin: 0;
      list-style: none;
      &__item{
        margin-bottom: 1rem;
        &__button{
          font-family: inherit;
          border: 0;
          line-height: 1;
          background: none;
          cursor: pointer;
          font-size: 1.5rem;
          border-left: 1px solid var(--theme-color);
          padding: 0.2rem 0.5rem 0.2rem 0.5rem;
          &--active{
            color: white;
            background: var(--theme-color);
          }
        }
      }
    }
  }
  &__products{
    max-width: 100%;
    &__list{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      max-width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      &--hidden{
        display: none;
      }
      &__item{
        width: 33.333%;
        padding: 0.6rem;
        .featured__card__picture{
          height: 130px;
        }
      }
    }
  }
}

table{
  width: 100%;
  border-collapse: collapse;
  thead{
    tr{
      th{
        text-align: left;
        border: 1px solid $gray-300;
        background: $gray-200;
        padding: 0.5rem 1rem;
      }
    }
  }
  tbody{
    tr{
      td{
        border: 1px solid $gray-300;
        padding: 0.5rem 1rem;
        &.gray{
          background: $gray-200;
        }
        &.total{
          font-weight: 600;
          text-align: right;
        }
      }
    }
  }
}


.form{
  &__field{
    display: flex;
    margin-bottom: 1rem;
    @media (max-width: $md) {
      flex-direction: column;
      margin-bottom: .5rem;
    }
    &__label{
      width: 200px;
      font-weight: 600;
    }
    &__input{
      flex-grow: 1;
      height: 2rem;
    }
  }
}

.invoice{
  &__steps{
    margin-bottom: 1rem;
    &__list{
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      &__item{
        border-right: 2px solid $white;
        padding: 0.5rem 2rem 0.5rem 1rem;
        position: relative;
        cursor: pointer;
        &--active{
          background: var(--theme-color);
          color: $light;
        }
        &--current{
          &:before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 1rem 2rem 0;
            border-color: transparent $white transparent transparent;
          }
          &:after{
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 2rem 1rem;
            border-color: transparent transparent $white transparent;
          }
        }
      }
    }
  }
  &__step{
    &--form{
      .form{
        input[type=submit] {
          display: none;
        }
      }
    }
    &--hidden{
      display: none;
    }
    &__total{
      font-size: 2rem;
      font-weight: 600;
      &__price{
        font-weight: 900;
      }
      &__button{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: $dark;
        color: $light;
        border: none;
        padding: .5rem 1rem;
        cursor: pointer;
        font-size: 1.3rem;
        &--blue{
          background: #17295a;
        }
        svg{
          margin-left: .7rem;
        }
      }
    }
  }
  &__actions{
    text-align: right;
    margin-top: 1rem;
    &__button{
      display: inline-block;
      background: $dark;
      color: $light;
      border: none;
      padding: .5rem 1rem;
      cursor: pointer;
      font-size: 1rem;
    }
  }
}