@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.d-none {
  display: none;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
  color: #313131;
  font-size: 16px;
}

a {
  display: inline-block;
  position: relative;
  color: #001F8C;
  text-decoration: none;
}

.form__field {
  margin-bottom: 1rem;
}
.form__field__label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.form__field__input {
  padding: 0.3rem 0.5rem;
  border-radius: 8px;
  border: 1px solid #bbbaba;
  transition: border-color 175ms ease-in-out;
}
.form__field__input:active, .form__field__input:focus {
  border-color: #001F8C;
  outline: #001F8C;
}

.auth__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.auth__section__form {
  margin-bottom: 16rem;
  width: 350px;
}
.auth__section__form__list {
  padding: 1rem;
  max-width: 340px;
  font-size: 0.8rem;
}
.auth__section__form__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}
.auth__section__form__links__link {
  display: inline-block;
  margin-bottom: 0.3rem;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background: #001F8C;
  border-radius: 13px;
  color: #FFFFFF;
  z-index: 5;
  box-shadow: 0px 0px 13px 0px #001F8C;
}
.header__title {
  width: 390px;
}
.header__title h1 {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
}
.header__search {
  flex: 1;
}
.header__search__input {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
}
.header__search__input__icon {
  width: 24px;
  height: 24px;
}
.header__search__input__input {
  background-color: transparent;
  border: none;
  width: 320px;
  outline: none;
  color: #FFFFFF;
  font-size: 18px;
}
.header__search__input__input::placeholder {
  color: #FFFFFF;
  opacity: 0.4;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.header__menu {
  position: relative;
}
.header__menu__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__menu__list__item {
  display: flex;
  align-items: center;
}
.header__menu__list__item--notifications__button {
  background: transparent;
  border: none;
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;
}
.header__menu__list__item--notifications__button__icon {
  width: 25px;
  height: 25px;
}
.header__menu__list__item--separator {
  position: relative;
  margin: 0 20px;
}
.header__menu__list__item--separator:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  height: 24px;
  background: #FFFFFF;
  transform: translateY(-50%);
}
.header__menu__list__item--profile__name {
  margin-right: 20px;
}
.header__menu__list__item--profile__picture {
  margin: 0;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  border: 1px solid transparent;
  cursor: pointer;
}
.header__menu__list__item--profile__picture:hover {
  border: 1px solid white;
}
.header__menu__list__item--profile__picture img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.header__menu__popup-menu {
  display: none;
  position: absolute;
  background: white;
  right: 0;
  top: 55px;
  padding: 0;
  list-style: none;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  box-shadow: 2px 2px 6px -2px #bbbaba;
  overflow: hidden;
}
.header__menu__popup-menu--active {
  display: block;
}
.header__menu__popup-menu__item {
  height: auto;
}
.header__menu__popup-menu__item__link {
  display: block;
  padding: 0.3rem 1rem;
  width: 100%;
}
.header__menu__popup-menu__item__link:hover {
  background: #F2F2F2;
}
.header__menu__popup-menu__item__link--danger {
  color: #C61A1A;
}
.header__menu__popup-menu__item__link--danger:before {
  background: #C61A1A;
}

.menu {
  position: relative;
  width: 390px;
  background: #F3F6F6;
  height: 100vh;
  padding-top: 68px;
}
.menu__section {
  margin-top: 70px;
  padding-left: 25px;
}
.menu__section:first-child {
  margin-top: 35px;
}
.menu__section__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
}
.menu__section__list {
  list-style: none;
  padding: 0;
}
.menu__section__list__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.menu__section__list__item__link {
  display: flex;
  align-items: center;
  color: #313131;
  text-decoration: none;
}
.menu__section__list__item__link:hover {
  color: #001F8C;
}
.menu__section__list__item__link:hover svg {
  fill: #001F8C;
}
.menu__section__list__item__link:before {
  display: none;
}
.menu__section__list__item__icon {
  margin-right: 25px;
}
.menu__section__list__item__icon svg {
  width: 30px;
  height: 30px;
  fill: #313131;
}
.menu__section__list__item__text {
  font-size: 18px;
  font-weight: 500;
}
.menu__section--bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.page-builder__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.6rem;
  border: 1px solid #bbbaba;
  margin-bottom: 0.2rem;
  border-radius: 8px;
}
.page-builder__tools__list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
}
.page-builder__tools__list__item {
  margin-right: 0.3rem;
}
.page-builder__tools__list__item--end {
  align-self: flex-end;
}
.page-builder__tools__list__item__tool {
  border: 1px solid #bbbaba;
  background: #F2F2F2;
  border-radius: 5px;
  cursor: pointer;
}
.page-builder__tools__list__item__tool:hover {
  background: #bbbaba;
}
.page-builder__editor__wysiwyg {
  width: 100%;
  min-height: 300px;
  border-radius: 8px;
  border: 1px solid #bbbaba;
  padding: 0.6rem;
}
.page-builder__editor__html {
  border-radius: 8px;
  border: 1px solid #bbbaba;
  padding: 0.6rem;
  width: 100%;
}

.page-wrapper {
  display: flex;
}
.page-wrapper main {
  padding-top: 68px;
  flex: 1;
  margin: 12px;
}

table.datatable.dataTable thead th {
  text-align: left;
  padding: 10px 18px 10px 8px;
}

.table_container {
  background-color: var(--light-grey, #F2F2F2);
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: auto;
}

.dt_table {
  width: 80vw;
  min-width: 100%;
  border: 0;
  white-space: nowrap;
  border-collapse: collapse;
  table-layout: fixed;
}

.dt_header {
  box-sizing: border-box;
}

.dt_header .dt_header-cell {
  font-weight: 600;
}

.dt_content {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
}

.dt_row {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.12);
}

.dt_header-cell {
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 32px;
  padding-left: 16px;
  height: 52px;
  color: rgba(0, 0, 0, 0.87);
}

.dt_header-cell--numeric {
  text-align: right;
}

.dt_header-cell--center {
  text-align: center;
}

.dt_row {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.12);
}

.table {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background: #001F8C;
  border-radius: 13px;
  color: #FFFFFF;
  z-index: 5;
  box-shadow: 0px 0px 13px 0px #001F8C;
}
.table__search {
  flex: 1;
}
.table__search__input {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #F2F2F2;
}
.table__search__input__icon {
  width: 24px;
  height: 24px;
}
.table__search__input__input {
  background-color: transparent;
  border: none;
  width: 320px;
  outline: none;
  color: #FFFFFF;
  font-size: 18px;
}
.table__search__input__input::placeholder {
  color: #FFFFFF;
  opacity: 0.4;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.table__menu__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.table__menu__list__item {
  display: flex;
  align-items: center;
}
.table__menu__list__item--notifications__button {
  background: transparent;
  border: none;
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;
}
.table__menu__list__item--notifications__button__icon {
  width: 25px;
  height: 25px;
}
.table__menu__list__item--separator {
  position: relative;
  margin: 0 20px;
}
.table__menu__list__item--separator:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  height: 24px;
  background: #FFFFFF;
  transform: translateY(-50%);
}
.table__menu__list__item--profile__name {
  font-size: 18px;
  margin-right: 20px;
}
.table__menu__list__item--profile__picture {
  margin: 0;
}
.table__menu__list__item--profile__picture img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

/*# sourceMappingURL=style.css.map */
